.Container {
	background-color: #64b5f6;
	font-family: inherit;
}

.WordLetter {
	border-bottom: 3px solid #454545;
	margin: 8px;
	font-size: 3rem;
}

.WordLetterContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.NextWordButton {
	height: 70px;
	width: 300px;
	border-radius: 12px;
	font-size: 1.5rem;
	background-color: #4da8da;
	color: white;
	margin: 0;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: inherit;
	transition: background-color 0.5s;
	border: #ddd;
}

.NextWordButton:hover {
	background-color: #007cc7;
	cursor: pointer;
}

.GameStatus {
	font-size: 2rem;
	color: #454545;
	position: fixed;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
	border: 4px solid #007cc7;
	box-shadow: 2px 4px #454545;
}

/* Smartphones */
@media (max-width: 768px) {
	.WordLetter {
		font-size: 2rem;
	}
	.GameStatus {
		font-size: 1.2rem;
	}
	.NextWordButton {
		width: 150px;
		font-size: 1.2rem;
	}
}
