.App {
	background-image: url(./assets/images/Background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100vh;
	font-family: inherit;
}
